<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a partial, and is templated by AngularJS -->
<div style="font-family: Arial, 'MS Trebuchet', sans-serif;">

<h1>About</h1>

  <h3 style="text-align: left;">iDone lets you track and showcase your daily accomplishments</h3>

  <ul class="list-group" style="text-align: left;">
	<li class="list-group-item">create an account and start writing in less than a minute</li>
	<li class="list-group-item">built with security and privacy as a primary goals</li>
	<li class="list-group-item">select sharing options from:  private, share with manager, or public</li>
	<li class="list-group-item">export your data or integrate to external systems via secure REST API or Webservices </li>
	<li class="list-group-item">enter iDone items online, via email, or on your smart phone</li>
	<li class="list-group-item">available in English, Español, Français, Deutsch, Italiano, Język Polski, Português, русский язык, 日本語, 中文, हिन्दी,  العربية, Türkçe</li>
	<li class="list-group-item">completely free for personal use (corporate plans from $10 per month)</li>
  </ul>
	
  <div>Stop making depressing todo lists, instead celebrate your daily accomplishments!</div>
        
        
</div>
