<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a partial, and is templated by AngularJS -->
<div style="font-family: Arial, 'MS Trebuchet', sans-serif;">
    <!-- If there are no members registered, instead of showing the table, we show a simple message. -->
    <em ng-show="dones.length == 0">No registered members.</em>
    
    <table ng-hide="dones.length == 0" class="simpletablestyle" 
    	border=0 cellpadding=3 cellspacing=1 rules=rows frame=hsides>

        <h1><span class="glyphicon glyphicon-step-backward"></span> Thursday 27.02.2014 <span class="glyphicon glyphicon-step-forward"></span></h1>
        <p class="lead">I've completed the following tasks</p>
        
        <div class="row">
         <div class="col-sm-3" ></div>
         <div class="col-sm-6" >
          
        <ul class="list-group" style="text-align: left;">
            <li class="list-group-item" ng-repeat="done in dones | orderBy:id"><img src="img/check_box.png" /> {{ done.text }}</li>
        </ul>
          
          
           <button type="button" class="btn btn-primary">Add new item</button>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button type="button" class="btn btn-primary">Save</button>
           <button type="button" class="btn btn-primary">Finalize & Submit</button>
         </div><!-- /.col-sm-6 -->
         <div class="col-sm-3" ></div>
        </div>

        
    </table>
    <div>
        <!-- The table has a button to manually refresh the values, in case, for example, someone else adds a member -->
        <!-- input type="button" ng-click="refresh()" name="refresh" id="refresh" value="Refresh"  -->
    </div>
</div>
