<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a partial, and is templated by AngularJS -->
<div style="font-family: Arial, 'MS Trebuchet', sans-serif;">

<h1>Sign in</h1>
  <div>
    <div> here...</div>
    <form action="/idone/loginServlet?identifier=https://www.google.com/accounts/o8/id" method="post"> 
      <input class="google openid_large_btn" style="background: #fff url(img/openid-logos.png?v=3); background-position: -1px -1px;" type="image" value=" " />
    </form>
    <form action="/idone/loginServlet?identifier=https://me.yahoo.com" method="post">
      <input class="google openid_large_btn" style="background: #fff url(img/openid-logos.png?v=3); background-position: -1px -63px;" type="image" value=" " /> 
    </form>
  </div>
        
        
</div>
